version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis-tests
    ports:
      - "6379:6379"
    volumes:
      - ./infra/redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
